*{
    font-family: "Special Elite", Arial, sans-serif;
    justify-items: center;
    display: grid;
}


.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.jogar{
    border-radius: 3px;
    font-size: larger;
    background-color: rgb(86, 85, 85);
    color: black;
}

#pc{
    display: flex;
    justify-content: center;
}
  