*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;

}

.button-auto{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.button-red{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: red;
  cursor: pointer;
}

.button-yellow{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: yellow;
  cursor: pointer;
}


.button-green{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(9, 237, 9);
  cursor: pointer;
}

/*hovers*/
.button-red:hover{
color: black;
background-color: rgb(176, 4, 4);
}

.button-yellow:hover{
  color: black;
  background-color: rgb(215, 215, 1);
  }

  .button-green:hover{
    color: black;
    background-color: rgb(10, 196, 10);
    }

    .button-auto:hover{
      color: white;
      background-color: black;
  }

