*{
    font-family: "Special Elite", Arial, sans-serif;
    justify-items: center;
    
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    font-size: larger;
}
